tr {
  text-align: center;
  vertical-align: middle;
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgb(2, 82, 156);
  opacity: 0.5;
}

.form {
  position:  fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;

  background-color: rgb(186, 213, 235);
  border: 1px solid black;
  border-radius: 8px;
}

.form__title {
  margin: 0 0 20px;
  margin-top: 0;

  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__editor {
  display: flex;
  flex-direction: column;
}

.form__editor-label {
  margin: 0 0 5px;

  font-size: 14px;
}

.form__editor_input {
  margin-bottom: 10px;
  padding: 0 10px;
  height: 30px;

  border-radius: 8px;

  font-size: 12px;
}

.form__buttons {
  display: flex;
  justify-content: start;
  gap: 20px;
 
}

.btn {
  width: max-content;
}
